.carousel .slide img {
    max-height: 350px;
    max-width: 100%;
}
.carousel.carousel-slider .control-arrow {
    background-color: black;
}
div.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: white;
}
div.home-carousel .carousel.carousel-slider .control-arrow {
    background-color: black;
    top: 8.5%;
    max-height: 89.5%
}
div.carousel.carousel-slider {
    margin-bottom: 2rem;
}

.ui.five.cards.home-card {
    margin-left: 5px;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 1px;
}
.ui.header.menu-title {
  margin-left: 3rem;
  margin-bottom: 1rem;
}
div.boxoffice-feed>.event {
    width: -2.5rem;
    font-size: 12px;
    font-weight: 700;
}
div.ui.feed.boxoffice-feed>.event>.label+.content {
    margin: 0.5% 0 .35714286em 1.14285714em
}
div.ui.feed.boxoffice-feed>.event:hover {
    color: red;
}

div.ui.feed.boxoffice-feed>.event>.content .summary:hover {
    color:red;
}

div.ui.header.category-header {
    margin-top: 8%;
}

div.ui.pointing.vertical.category-menu.menu .item {
    font-weight: bold;
    padding-top: 7%;
}
div.ui.pointing.vertical.category-menu.menu .item.all-category {
    color: red;
    text-align: center;
}
