div.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: white;
}
div.home-carousel .carousel.carousel-slider .control-arrow {
    background-color: black;
    top: 35px;
    max-height: 92.5%
}
div.carousel.carousel-slider {
    margin-bottom: 2rem;
}
.carousel .slide img {
    max-height:350px;
    max-width: 100%;
}

.ui.five.cards.home-card {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 23px;
    margin-bottom: 1px;
}
.ui.header.menu-title {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.ui.feed>.event>.content {
    font-size: 12px;
    margin-top: 5px;
}
.ui.feed>.event>.label {
    width: -2.5rem;
}
