.ui .button.page-btn {
  background-color: white;
  margin-top: 486%;
}
.ui.button:hover {
  background-color: white;
}
.ui.column.grid>[class*="one wide"].column, .ui.grid>.column.row>[class*="one wide"].column, .ui.grid>.row>[class*="one wide"].column, .ui.grid>[class*="one wide"].column {
  width:8.25%!important;
}
